<table
  style="
    box-sizing: border-box;
    min-height: 550px;
    padding-top: 50px;
    padding-right: 35px;
    padding-bottom: 200px;
    padding-left: 35px;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgb(52, 62, 107), rgb(101, 241, 176));
    font-family: Arial Black, Gadget, sans-serif;
  "
  width="100%"
  height="100%"
  bgcolor="rgb(234, 236, 237)"
>
  <tbody style="box-sizing: border-box">
    <tr style="box-sizing: border-box; vertical-align: top" valign="top">
      <td style="box-sizing: border-box">
        <table
          style="
            box-sizing: border-box;
            font-family: Helvetica, serif;
            min-height: 500px;
            padding-top: 50px;
            padding-right: 32px;
            padding-bottom: 200px;
            padding-left: 35px;
            margin-top: auto;
            margin-right: auto;
            margin-bottom: auto;
            margin-left: auto;
            height: 0px;
            width: 90%;
            max-width: 550px;
          "
          width="90%"
          height="0"
        >
          <tbody style="box-sizing: border-box">
            <tr style="box-sizing: border-box">
              <td
                style="
                  box-sizing: border-box;
                  vertical-align: top;
                  font-size: medium;
                  padding-bottom: 50px;
                "
                valign="top"
              >
                <table
                  style="
                    box-sizing: border-box;
                    padding-top: 5px;
                    padding-right: 5px;
                    padding-bottom: 5px;
                    padding-left: 5px;
                    height: 0px;
                  "
                  height="0"
                >
                  <tbody style="box-sizing: border-box">
                    <tr style="box-sizing: border-box">
                      <td
                        style="
                          box-sizing: border-box;
                          background-color: rgb(255, 255, 255);
                          overflow-x: hidden;
                          overflow-y: hidden;
                          border-top-left-radius: 3px;
                          border-top-right-radius: 3px;
                          border-bottom-right-radius: 3px;
                          border-bottom-left-radius: 3px;
                          padding-top: 0px;
                          padding-right: 0px;
                          padding-bottom: 0px;
                          padding-left: 0px;
                          text-align: center;
                        "
                        bgcolor="rgb(255, 255, 255)"
                        align="center"
                      >
                        <table
                          style="
                            box-sizing: border-box;
                            width: 100%;
                            min-height: 350px;
                            padding-top: 50px;
                            padding-right: 35px;
                            padding-bottom: 200px;
                            padding-left: 35px;
                            height: 0px;
                            border-collapse: collapse;
                          "
                          width="100%"
                          height="0"
                        >
                          <tbody style="box-sizing: border-box;">
                            <tr>
                              <td style="padding: 30px 0 0 20px; font-weight: bold;">Dear {{username}} !

                              </td>
                            </tr>
                            <tr style="box-sizing: border-box">
                              <td
                                style="
                                  box-sizing: border-box;
                                  font-size: 16px;
                                  line-height: 20px;
                                  color: rgb(111, 119, 125);
                                  padding-top: 10px;
                                  padding-right: 20px;
                                  padding-bottom: 0px;
                                  padding-left: 20px;
                                  vertical-align: top;
                                "
                                valign="top"
                              >
                                <h1
                                  style="
                                    box-sizing: border-box;
                                    font-size: 35px;
                                    font-weight: 500;
                                    color: rgb(68, 68, 68);
                                  "
                                >
                                  <div
                                    style="
                                      box-sizing: border-box;
                                      margin-top: 30px;
                                      font-family: Arial, Helvetica, sans-serif;
                                    "
                                    >Welcome to crown bingo !!!</div
                                  >
                                </h1>
                                <p style="box-sizing: border-box">
                                  <div
                                    style="
                                      box-sizing: border-box;
                                      font-family: Arial, Helvetica, sans-serif;
                                      padding: 30px 0 20px 0;
                                    "
                                    >Below is authentication link. Please click
                                    this link or copy to another tab to
                                    authenticate your account.</div
                                  >
                                </p>
                                <p>
                                  <div>
                                    On crown bingo, you can get awards to tens of times the amount your invested.
                                  </div>
                                </p>
                                <p>
                                <div style="text-align:center"><svg version="1.0" xmlns="http://www.w3.org/2000/svg"
                                width="60.000000pt" height="40.000000pt" viewBox="0 0 1024.000000 631.000000"
                                preserveAspectRatio="xMidYMid meet">

                                <g transform="translate(0.000000,631.000000) scale(0.100000,-0.100000)"
                                fill="gold" stroke="#000000">
                                <path d="M5021 6196 c-338 -394 -496 -841 -478 -1351 6 -150 24 -296 47 -374
                                15 -52 5 -49 -33 11 -70 111 -221 212 -377 254 -90 25 -302 25 -383 1 -210
                                -64 -361 -208 -423 -406 -39 -120 -26 -319 29 -473 28 -78 44 -84 52 -21 21
                                161 105 281 224 321 19 7 82 12 140 12 427 -1 751 -272 875 -731 38 -140 49
                                -254 43 -414 -12 -297 -116 -524 -275 -602 -52 -25 -67 -28 -162 -28 -86 1
                                -116 5 -163 24 -107 42 -226 132 -356 267 -66 69 -121 130 -121 135 0 5 -7 9
                                -15 9 -8 0 -15 7 -15 16 0 9 -13 33 -29 53 -40 50 -170 252 -215 334 -21 37
                                -42 67 -48 67 -7 0 -9 -33 -5 -100 3 -54 1 -150 -4 -212 -46 -577 -291 -824
                                -699 -702 -264 78 -507 328 -518 534 -8 128 37 246 110 290 48 29 135 27 196
                                -4 102 -52 135 -114 134 -248 -1 -107 6 -110 74 -35 42 46 82 113 128 216 6
                                13 11 74 11 136 0 111 0 113 -40 190 -69 136 -205 253 -358 307 -51 18 -84 22
                                -187 22 -115 0 -132 -2 -220 -32 -52 -18 -118 -46 -147 -62 l-51 -29 -32 57
                                c-31 54 -101 158 -144 212 -52 65 -238 241 -295 279 -133 91 -272 147 -430
                                177 -127 24 -371 15 -506 -20 -146 -37 -335 -112 -335 -134 0 -4 46 -30 103
                                -59 626 -318 1180 -852 1542 -1488 32 -55 61 -101 66 -103 5 -2 9 -10 9 -18 0
                                -8 23 -60 50 -115 169 -335 313 -768 415 -1241 9 -42 21 -81 28 -86 40 -31
                                241 -93 429 -131 162 -34 450 -73 693 -95 463 -43 810 -57 1560 -63 1343 -11
                                2274 54 2830 197 114 29 152 43 224 78 33 16 36 22 53 102 64 302 139 566 230
                                810 54 146 170 409 223 505 18 33 49 92 70 130 56 104 253 397 339 505 341
                                424 755 765 1219 1005 68 35 97 55 97 68 0 39 -271 135 -443 157 -398 50 -726
                                -65 -1000 -349 -96 -100 -190 -222 -243 -317 l-36 -64 -52 29 c-145 84 -357
                                121 -499 87 -174 -41 -344 -177 -421 -336 -29 -61 -31 -72 -31 -181 l0 -116
                                43 -86 c26 -52 65 -111 99 -147 56 -61 90 -78 78 -39 -4 11 -7 55 -7 98 -1
                                119 37 180 140 228 44 21 65 25 118 21 56 -3 68 -8 98 -37 78 -76 110 -248 67
                                -362 -80 -212 -314 -405 -556 -459 -71 -16 -212 -14 -268 3 -242 76 -379 386
                                -378 854 1 119 -2 143 -14 143 -8 0 -25 -17 -38 -37 -13 -21 -54 -86 -91 -144
                                -60 -96 -123 -189 -188 -274 -13 -16 -79 -87 -148 -156 -141 -143 -231 -206
                                -347 -245 -105 -35 -219 -31 -306 10 -239 115 -345 576 -232 1011 119 458 450
                                735 875 734 114 0 157 -11 221 -55 73 -51 128 -155 144 -277 8 -63 24 -57 52
                                23 98 273 60 527 -106 703 -73 78 -151 127 -260 165 -68 23 -91 26 -211 26
                                -156 0 -219 -14 -347 -75 -91 -43 -189 -130 -243 -214 -20 -31 -30 -40 -26
                                -25 52 192 69 501 42 717 -53 413 -211 756 -495 1072 -35 39 -68 71 -72 71 -5
                                0 -49 -47 -98 -104z"/>
                                <path d="M2260 816 c0 -17 53 -287 61 -312 20 -64 160 -171 298 -228 445 -184
                                1258 -271 2531 -270 551 0 942 12 1325 39 184 13 447 39 501 49 11 2 44 7 74
                                11 72 9 345 63 390 77 257 79 402 168 457 280 28 57 72 323 56 339 -9 9 -45 2
                                -140 -24 -388 -109 -1055 -181 -1924 -207 -654 -19 -1794 0 -2329 40 -521 38
                                -1023 117 -1239 194 -44 16 -61 19 -61 12z"/>
                                </g>
                                </svg>
                                </div>
                                </p>
                                <p style="box-sizing: border-box">
                                  <div
                                    style="
                                      box-sizing: border-box;
                                      font-family: Arial, Helvetica, sans-serif;
                                      padding: 30px 0 20px 0;
                                    "
                                    >You can deposit via Metamask if you're ready to jump into the action! <span style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 18px; font-weight:400; color:black; padding: 0 0 0 20px;">Enjoy!</span></div
                                  >
                                </p>
                              </td>
                            </tr>
                            <tr style="box-sizing: border-box">
                              <td
                                style="
                                  box-sizing: border-box;
                                  font-size: 20px;
                                  line-height: 20px;
                                  color: rgb(111, 119, 125);
                                  padding-top: 10px;
                                  padding-right: 20px;
                                  padding-bottom: 50px;
                                  padding-left: 20px;
                                  vertical-align: top;
                                "
                                align="center"
                              >
                                <a
                                  href="{{ protocol }}://{{ domain }}/{{ url }}"
                                  style="display: inline-block; width: 130px; background: #007bff; color: white;font-family: Georgia, 'Times New Roman', Times, serif; font-size: 16px; font-weight: bold; text-decoration: none; border-radius: 3px; padding: 10px 25px; "
                                >Verify Account</a>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>
